 <% layout("/layouts/boilerplate") %>
<body>
     <h2>Edit details of product</h2>
       <form method="POST" action="/products/<%= product._id %>?_method=PUT">
     <div>
        <label for ="title" class="form-label" ><b>Title :</b></label>
       <input type="text" name="product[title]" class="form-control" value="<%= product.title %>" />
       </div>

       <div>
        <label for ="description" class="form-label" ><b>Description :</b></label>
       <textarea type="text" name="product[description]" class="form-control"  > <%= product.description %></textarea>
       </div>

       <div>
        <label for ="price" class="form-label" ><b>Price :</b></label>
       <input type="number" name="product[price]" class="form-control" value ="<%= product.price.toLocaleString("en-IN") %>" />
       </div>

       <div>
        <label for ="sizes" class="form-label" ><b>Size :</b></label>
       <input type="text" name="product[sizes]" class="form-control" value="<%= product.sizes %>" />
       </div>

   
 
     <button type="submit">Submit</button>
   </form>
     
</body>
</html>