  <%- layout("/layouts/boilerplate") %>
   
            <p class="title">  <%= products.title.toUpperCase() %> </p>
            <br><br>

             <span class="price"><b>&#8377;<%= products.price.toLocaleString("en-IN") %> </b></span>
            <span class="tax">inclusive of all taxes</span>
            <div class="size">
                <p>Select size</p>
                <% for(let i=0;i<products.sizes ; i++){ %>
                   <span><%= products.sizes[i] %></span>
                    
               <% } %>
            </div>
          <ul>
              
            <li> <%= products.description %> </li>
            <li>  &#8377; <%= products.price.toLocaleString("en-IN") %> </li>
            <li> <%= products.sizes %> </li>
           
          </ul>
       
          <!-- <form method="get" action="/products/<%= products._id %>?_method=PUT">  -->
            
            <a href="/products/<%= products._id %>/edit" >Edit </a>

          <!-- </form> -->

         <form method="POST" action="/products/<%= products._id %>?_method=DELETE">
            <button >Delete</button>
         </form>
      
</body>
</html>